@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Yeni Yetenek Ekleme Sayfası</h3>

<form method="post">
    <label>İsim</label>
    <input type="text" name="SkillName" class="form-control" />
    <br />
    <label>Değer</label>
    <input type="number" name="Value" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
