@model List<MyPortfolio.Models.TblService>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}


<br>
<br />
<h2>Hizmetler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>İkon</th>
        <th>Hizmet Adı</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td><i class="@item.Icon"></i></td>
            <td>@item.Title</td>
            <td>@(item.Status == true ? "Aktif" : "Pasif")</td>
            <td><a href="/Services/DeleteServices/@item.ServiceId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Services/UpdateServices/@item.ServiceId" class="btn btn-outline-info">Güncelle</a></td>
            <td><a href="/Services/MakeActive/@item.ServiceId" class="btn btn-outline-success">Aktif </a> </td>
            <td><a href="/Services/MakePassive/@item.ServiceId" class="btn btn-outline-secondary">Pasif </a> </td>
        </tr>
    }
</table>

<br />
<a href="/Services/AddServices" class="btn btn-outline-dark">Yeni Hizmet Ekle</a>