
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Yeni Kategori Ekleme Sayfası</h3>

<form method="post">
    <label>Kategori İsmi</label>
    <input type="text" name="CategoryName" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
