@model List<MyPortfolio.Models.TblContact>

<!-- Footer Start -->
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container-fluid">
        <div class="container">
            <div class="footer-info">
                <h2>Emir Emre Basdag</h2>
                <h3></h3>
                <div class="footer-menu" style="flex-wrap:wrap;">
                    @foreach (var item in Model)
                    {
                        <p>@item.Address</p>
                        <p>@item.Phone</p>

                        <p>@item.Email</p>
                    }

                </div>

                <div class="footer-social">

                    <a href="https://www.instagram.com/eemrebasdag"><i class="fab fa-instagram"></i></a>

                    <a href="https://www.linkedin.com/in/eemrebasdag/"><i class="fab fa-linkedin"></i></a>


                    <a href="https://github.com/eemrebasdag"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Emir Emre Basdag</a>, All Right Reserved | Designed By <a href="">Emir Emre Basdag</a></p>
        </div>
    </div>
</div>
<!-- Footer End -->