@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Emir Emre Basdag - Portfolio</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/Content/emrelogo.png" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Template/devfolio2-main/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Template/devfolio2-main/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Template/devfolio2-main/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88e3271e0b.js" crossorigin="anonymous"></script>

    <!-- Template Stylesheet -->
    <link href="~/Template/devfolio2-main/css/style.css" rel="stylesheet">

    <style>
        .navbar-logo {
            display: block; /* Hides the logo for screen sizes smaller than 992px */
        }

        .navbar-logo-black {
            scale: 6;
            padding-left: 25px;
            display: none; /* Hides the logo for screen sizes smaller than 992px */
        }

        @@media (max-width: 992px) {
            .navbar-logo {
                display: none; /* Hides the logo for screen sizes smaller than 992px */
            }
            .navbar-logo-black {
                display: block; /* Hides the logo for screen sizes smaller than 992px */
            }
        }

    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <a href="~/" class="navbar-brand"><img class="navbar-logo" src="~/Content/emrelogo.png" style="scale:8;" /><img class="navbar-logo-black" src="~/Content/logoblack.png" style="scale:6;" /></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="#home" class="nav-item nav-link active">Anasayfa</a>
                    <a href="#about" class="nav-item nav-link">Hakkımda</a>
                    <a href="#service" class="nav-item nav-link">Hizmetler</a>
                    <a href="#experience" class="nav-item nav-link">Deneyimler</a>
                    <a href="#portfolio" class="nav-item nav-link">Projelerim</a>
                    <a href="#review" class="nav-item nav-link">Geri Bildirimler</a>
                    <a href="#team" class="nav-item nav-link">Referanslar</a>
                    <a href="#contact" class="nav-item nav-link">İletişim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->



    @RenderBody()


    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/easing/easing.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/wow/wow.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/typed/typed.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Template/devfolio2-main/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Template/devfolio2-main/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Template/devfolio2-main/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Template/devfolio2-main/js/main.js"></script>
    <script>
        // Custom JavaScript to update the logo source for smaller screen sizes
        $(document).ready(function () {
            $(window).on('resize', function () {
                if ($(window).width() < 992) {
                    $('#navbar-logo').attr('src', '~/Content/logoblack.png');
                } else {
                    $('#navbar-logo').attr('src', '~/Content/emrelogo.png');
                }
            });
        });
    </script>
</body>
</html>
