@model MyPortfolio.Models.TblAdmin
@{
    ViewBag.Title = "UpdateProfiles";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Kullanıcı Güncelleme Sayfası</h3>

<form method="post">
    <input type="hidden" name="AdminId" value="@Model.AdminId"/>
    <label>Resim Url</label>
    <input type="text" name="ImageUrl" value="@Model.ImageUrl" class="form-control" />
    <br />
    <label>Kullanıcı Adı</label>
    <input type="text" name="UserName" value="@Model.UserName" class="form-control" />
    <br />
    <label>Şifre</label>
    <input type="text" name="Password" value="@Model.Password" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>

</form>
