
@{
    ViewBag.Title = "AddSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h3>Yeni Sosyal Medya Ekleme Sayfası</h3>

<form method="post">
    <label>Sosyal Medya İsmi</label>
    <input type="text" name="SocialMediaName" class="form-control" />
    <br />
    <label>Url</label>
    <input type="text" name="Url" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>
